{% extends 'app/auth/layout.html.twig' %}

{% block title %}{{ "Send reset token" | trans([], 'common') }}{% endblock %}
{% block bg_class %}bg-password-image{% endblock %}

{% block bottom_links %}
    <div class="text-center">
        <a class="small" href='{{ path(constant('App\\Infrastructure\\Http\\Controller\\AuthController::SIGN_UP_ROUTE_NAME')) }}'>
            {{ "Sign up" | trans([], 'common') }}
        </a>
    </div>
    <div class="text-center">
        <a class="small" href='{{ path(constant('App\\Infrastructure\\Http\\Controller\\AuthController::SIGN_IN_ROUTE_NAME')) }}'>
            {{ "Sign in" | trans([], 'common') }}
        </a>
    </div>
{% endblock %}

{% block form %}
    <div>
        {{ form_start(form, {attr: {'class': 'user'} }) }}
        <div class="form-group">
            {{ form_widget(form.email, {'attr': {
                'placeholder': 'E-mail' | trans([], 'common'),
                'class' : 'form-control form-control-user',
            }}) }}
            <div class="invalid-feedback" >{{ form_errors(form.email) }}</div>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
        <input type="submit" class="btn btn-primary btn-user btn-block" value="{{ "Send reset token" | trans([], 'common') }}" />
        <hr>
        <a href="{{ path(constant('App\\Infrastructure\\Http\\Controller\\AuthController::FB_CONNECT_ROUTE_NAME')) }}" class="btn btn-facebook btn-user btn-block">
            <i class="fab fa-facebook-f fa-fw"></i> {{ "Sign in via Facebook" | trans([], 'common') }}
        </a>
        {{ form_end(form) }}
    </div>
{% endblock %}
